/*Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /*Font weight = bold(700) - Overskrifter */
  /*Font weight = Regular(500)*/
  /*Font weight = Medium(400)*/
  font-family: 'Raleway', sans-serif;
}

/* ===== NAVBAR ===== */
.menu_bar {
  position: sticky;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px 20px;
  background-color: rgba(227, 227, 227, 0.8);
  color: #fff;
  border-bottom: 1px solid #222;
  margin-bottom: 30px;
  width: 100%;
}

/* ===== LOGO ===== */
.logo {
  height: 36px;
}

.logo img {
  height: 100%;
  width: auto;
  display: block;
}

/* ===== BURGER ===== */
.burger {
  display: flex;
  flex-direction: column;
  gap: 5px;
  background-color: transparent;
  border-color: transparent;
}

.burger span {
  width: 25px;
  height: 3px;
  background: black;
  display: block;
}

/* ===== MENU (mobile) ===== */
.nav-links {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  display: none;
  flex-direction: column;
  background-color: rgba(227, 227, 227, 1);
  color: #000000;
  /*Font weight = bold(700)*/
  font-weight: 700;
}

/* BLACK LINES IN MENU */
.nav-links li {
  border-top: 1px solid #222;
}

.nav-links a {
  padding: 16px 20px;
  display: block;
  text-decoration: none;
  color: rgb(0, 0, 0);
}

/* ===== ACTIVE STATE ===== */
.nav-links.active {
  display: flex;
}


/* Footer */
.page_footer{
  margin-top: 50px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 40px;
  width: 100%;
  height: 250px;
  background-color: rgba(227, 227, 227, 0.8);
}

.footer_logo_container{
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.page_footer img{
  object-fit: contain;
  width: 75%;
}

.footer_container span{
  display: block;
  height: 2px;
  width: 90%;
  background: rgba(0, 0, 0, 0.5);
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-links{
  display: flex;
  flex-direction: row;
  list-style: none;
  color: #000000;

  gap: 10px;
}
.footer-links a{
      color: #000000;
}


/* ===== DESKTOP ===== */
@media (min-width: 768px) {
  .burger {
    display: none;
  }

  .nav-links {
    background-color: transparent;
    position: static;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: auto;
    list-style: none;
  }

  .nav-links li {
    border: none;
  }

  .nav-links a {
    padding: 0;
  }

  .page_footer img{
    object-fit: contain;
    width: 50%;
}
}