.main_container{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}

h1{
    font-weight: 700;
}

h3{
    font-weight: 500;
}

.button {
  background-color: #e21e27 ;
  border-radius: 4px;
  border-style: none;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  width: auto;
    margin: 0 auto;
}
.button:hover {
  opacity: .75;
}


.type_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.dummy_img{
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 70%;
    background-color: #323232;
    border-radius: 50px;
}

.beskrivelse{
    margin: 0 auto;
    max-width: 45ch;
}



/* ===== DESKTOP ===== */
@media (min-width: 768px) {
    .dummy_img{
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 30%;
    background-color: #323232;
    border-radius: 50px;
}
}