.main_container{
    display: flex;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    padding-left: 15px;
    padding-right: 15px;
}



.type_container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 30px;
}


.beskrivelse{
    margin: 0 auto;
    max-width: 45ch;
}



/* ===== DESKTOP ===== */
@media (min-width: 768px) {
    .dummy_img{
    margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 30%;
    background-color: #323232;
    border-radius: 50px;
}
}