    .main_container{
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        flex-direction: column;
        gap: 30px;
    }


    .estimeretContainer{
        margin: 0 auto;
        background-color: #29BDE2;
        padding: 10px;
        width: fit-content;
        border-radius: 30px;
    }

    .estimeretContainer h1{
        font-size: large;

    }

    .content_container{
            margin: 0 auto;
        aspect-ratio: 16 / 9;
        width: 100%;
        background-color: antiquewhite;
        border-radius: 50px;
    }

    .grid{
        gap: 30px;
    }

    .imges{
        width: 60%;
        margin: 0 auto;
        border-radius: 30px;
    }

    .show{
        display:block;
    }
    .hide{
        display: none;
    }
    .active_markat{
                margin: 0 auto;
        background-color: rgb(47, 223, 47) ;
        padding: 15px;
        width: fit-content;
        border-radius: 15px;
    }

/* ===== DESKTOP ===== */
@media (min-width: 768px) {
    .main_container{
        display: flex;
        padding-left: 10px;
        padding-right: 10px;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    .grid{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .grid_container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        margin: 0 auto;
    }

    .content_container{
            margin: 0 auto;
        aspect-ratio: 16 / 9;
        width: 100%;
        background-color: antiquewhite;
        border-radius: 50px;
    }

    .estimeretContainer{
        margin: 0 auto;
        background-color: #29BDE2;
        padding: 10px;
        width: fit-content;
        border-radius: 30px;
    }

    p{
        width: 40ch;
        margin: 0 auto;
    }

    .fond-description{
        line-height: 30px;
    }

    .show{
        display:block;
    }
    .hide{
        display: none;
    }

    .active_markat{
                margin: 0 auto;
        background-color: rgb(47, 223, 47) ;
        padding: 15px;
        width: fit-content;
        border-radius: 15px;
    }

    .imges{
        width: 60%;
        margin: 0 auto;
        border-radius: 30px;
    }

}