.imges{
    width: 100%;
}


.main_container{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    font-size: medium;
    gap: 20px;
}

.grid_container{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.desktop_view{
    display: none;
}

/* ===== DESKTOP ===== */
@media (min-width: 768px) {
    .main_container{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .imges{
        width: 60%;
        margin: 0 auto;
    }
    p{
        max-width: 60ch;
        margin: 0 auto;
    }

    .image_grid{
        gap: 10px;
        display: grid;
        grid-template-columns:1fr;

    }
    .mobile_view{
        display: none;
    }

    .desktop_view{
        display: block;

    }
}