
.main_container{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    justify-items: center;
    text-align: center;
    flex-direction: column;
    font-size: medium;
    gap: 20px;
}

.main_container h3{
    max-width: 35ch;
    font-size: medium;

    /* Bruges til at placere text i midten af skærmen*/
    margin: 0 auto;
}

.content_container{
    aspect-ratio: 16 / 9;
    width: 100%;
    background-color: antiquewhite;
    border-radius: 50px;
}

.KampagneVideo{
                margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 80%;
    background-color: antiquewhite;
    border-radius: 50px;
}

.some_grid_container{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr;
    }

    .imges{
        width: 80%;
        margin: 0 auto;
        border-radius: 30px;
    }

/* ===== DESKTOP ===== */
@media (min-width: 768px) {

    .main_container{
        padding-left: 10px;
        padding-right: 10px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .main_container h3{
        max-width: 35ch;
        font-size: x-large;
        font-weight: 500;
        /* Bruges til at placere text i midten af skærmen*/
        margin: 0 auto;
    }
    .content_container{
            margin: 0 auto;
        aspect-ratio: 16 / 9;
        width: 50%;
        background-color: antiquewhite;
        border-radius: 50px;
    }
    .KampagneVideo{
                margin: 0 auto;
    aspect-ratio: 16 / 9;
    width: 50%;
    background-color: antiquewhite;
    border-radius: 50px;
}
    .some_grid_container{
        display: grid;
        gap: 20px;
        grid-template-columns: 1fr 1fr;
    }

    .imges{
        width: 60%;
        margin: 0 auto;
        border-radius: 30px;
    }
}